.vertical{
    border-left:1px solid black;
    border-right:1px solid black;
}
.horizantal{
    border-top:1px solid black;
    border-bottom:1px solid black;
}
td{
    
    height:100px;
    width:100px;
    


}
td:hover{
    border:1px solid bisque;
    
}

.main{
      border:1px solid white;
      
      padding:50px;
      margin-top:10px;
}
h1{
    margin-bottom:0em;
}
