body{
    background:url(https://wallpapercave.com/wp/wp2555730.jpg);
    background-repeat: no-repeat;
    background-size:100%;
     font-family: 'Tangerine', serif;
        font-size: 48px;
         text-shadow: 4px 4px 4px #aaa;
}


div {
  padding: 20px;
  box-shadow: 
       inset 0 -3em 3em rgba(187, 27, 27, 0.5), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(77, 14, 14, 0.5);

.vertical{
    border-left:1px solid black;
    border-right:1px solid black;
}
.horizantal{
    border-top:1px solid black;
    border-bottom:1px solid black;
}
td{
    
    height:100px;
    width:100px;
    


}
td:hover{
    border:1px solid bisque;
    
}

.main{
      border:1px solid white;
      
      padding:50px;
      margin-top:10px;
}
h1{
    margin-bottom:0em;
}
