body{
    background:pink;
    color:white;
}
.a{
    color:red;
}

.x{
    color:rgba(255,0,0,0.7);
}
.y{
    color:rgba(255,0,0,0.3);
}
.r2-button{
    border-radius: 15px;
    background-color: rgb(0, 255, 179);
    outline: 0;
    border-width: 0;
    color: palevioletred ;
    
}
